body{
    background-image: url("./imges/wallpaperflare.com_wallpaper (2).jpg");
    min-height: 100vh;
    background-size: cover;
    margin: 0;
    position: relative;
    /*display: flex;
    justify-content: center;
    text-align: center;*/
}
*{
    margin: 0;
    padding: 0;
}
footer{
    position: absolute;
    /*background-color: yellow;*/
    background: rgba(166, 235, 41, 0.6);
    width: 100%;
    height: 80px;
    /*width: 500px;
    height: 500px;*/
    /*opacity: 0.5;*/
    display: flex;
    justify-content: space-around;
    /*align-items: flex-end;*/
    bottom: 60px;
    /*left: 35%;*/
}
footer h1{
    /*background: linear-gradient(90deg,red 0%,red 35%,green 35%,green 70%,blue 70%,blue 100%);*/
    width: 120px;
    height: 80px;
    background-image: url("./imges/GTA5 2021-07-21 04-57-43.png");
    background-size: cover;
    opacity: 1;
    filter: saturate(150%);
}
